@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Commission Generator</h1>
    <p class="lead">
        Commission Generator is a free web application to generating commissions for your clients. You can use your own template, or default one. Informations about creating templates can be found on <a href="https://github.com/Shakkozu/ComissionGenerator">project's GitHub Page</a>
    <br/><br />
        This application can be hosted on local networks or public ones, but in that case, verification to acces this application needs to be added.
    </p>
    <p>@Html.ActionLink("Generate Commission", "Create", "Commission", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4 offset-md-1">
        <h2>Getting started</h2>
        <p>
            Store information about your companies, clients and products and generate comissions for business purposes within a minute!
        </p>
    </div>
    <div class="col-md-4 offset-md-1">
        <h2>Check on github</h2>
        <p>Application is open-source, you can check code on github and improve the application.</p>
        <p><a class="btn btn-default" href="https://github.com/Shakkozu/ComissionGenerator">Github Link &raquo;</a></p>
    </div>
</div>